<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add word</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    {% include "header.html" %}
    <div id="latest-word" class="font-freeman">{{latest_word}}</div>
    <form action="/add" method="post">
        <input class="font-freeman" type="text" id="word_english" name="word_english" placeholder="word" required/>
        <input class="font-freeman" type="text" id="word_class" name="word_class" placeholder="word class" required/>
        <textarea class="font-freeman" name="word_turkish" id="word_turkish"
            placeholder="turkish translation" required></textarea>
        <button class="font-freeman" type="submit">ADD</button>
    </form>
    <script>
        window.onload = () => {
            let div = document.getElementById("latest-word");
            setTimeout(function () {
                div.style.visibility = "hidden";
            }, 3000);
        }
    </script>
</body>

</html>