<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include "header.html" %}
    <form action="/update/{{ word._id }}" method="post">
        <input class="font-freeman" type="text" id="word_english" name="word_english" value="{{ word.word_english }}" placeholder="word" required><br>
        <input class="font-freeman" type="text" id="word_class" name="word_class" value="{{ word.word_class }}" placeholder="word class" required><br>
        <textarea class="font-freeman" name="word_turkish" id="word_turkish"
        placeholder="turkish translation" required>{{ word.word_turkish }}</textarea>
        <button class="font-freeman" type="submit">UPDATE</button>
    </form>
</body>
</html>
